/podcasts-no-audio-13GB
/venv
backend/__pycache__
/db/podcasts-no-audio-13GB
# zip files
*.zip
*.tar.gz
*.tar

# Environment files
.env
**/.env
**/.env.*

# Certificates
*.crt

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.dbpacka

# Node.js dependencies (if applicable)


/spotify-podcasts-2020#data node_modules//spotify-podcasts-2020

.package-lock.json
**/.package-lock.json
**/.package-lock.*