/podcasts-no-audio-13GB
/venv
backend/__pycache__

# zip files
*.zip
*.tar.gz
*.tar

# Environment files
.env
.env.mine

# Certificates
*.crt

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db

# Node.js dependencies (if applicable)
node_modules/