/podcasts-no-audio-13GB
/venv
backend/__pycache__
/db/podcasts-no-audio-13GB
# zip files
*.zip
*.tar.gz
*.tar

# Environment files
.env
**/.env
**/.env.*

# Certificates
*.crt

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db

# Node.js dependencies (if applicable)
node_modules/
package-lock.json
**/package-lock.json

.vscode

#Baptiste's dev files 
test_on_database.ipynb 
Baptiste_Notebook_Index_And_Search_2.ipynb

backend/queries/__pycache__/